<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>网站开发说明</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/CSS/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/IMAGE/music.ico">
    <link href="/CSS/dev.css" rel="stylesheet">
</head>
<body>
<h2>网站开发说明</h2>
<p>使用工具：Java, Spring Boot, HTML, CSS, JavaScript, Thymeleaf.</p>
<ul id='timeline'>
    <li class='work'>
        <input class='radio' id='work1' name='works' type='radio' checked>
        <div class="relative">
            <label for='work1'>网站建立</label>
            <span class='date'>2018年7月5日</span>
            <span class='circle'></span>
        </div>
        <div class='content'>
            <p>
                网站建立，实现了初步的功能：根据歌曲名称和音乐平台来搜索歌曲，并实现播放。
            </p>
        </div>
    </li>
    <li class='work'>
        <input class='radio' id='work2' name='works' type='radio' checked>
        <div class="relative">
            <label for='work2'>功能更新</label>
            <span class='date'>2018年7月6日</span>
            <span class='circle'></span>
        </div>
        <div class='content'>
            <p>
                网站增加新功能：<br>
                前端部分：添加背景图片；在index页面中，优化搜索界面；增加使用说明。<br>
                后端部分：增加音乐下载功能。<br>
            </p>
        </div>
    </li>
    <li class='work'>
        <input class='radio' id='work3' name='works' type='radio'>
        <div class="relative">
            <label for='work3'>下一步计划</label>
            <span class='date'>2018年7月6日</span>
            <span class='circle'></span>
        </div>
        <div class='content'>
            <p>
                显示搜索历史，并在页面上显示时间。
            </p>
        </div>
    </li>
</ul>
<a href="/index"><button class="btn btn-primary" id="return">RETURN</button></a>

</body>
</html>