<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Music Player</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/CSS/bootstrap.min.css" rel="stylesheet">
    <link href="/CSS/APlayer.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/IMAGE/music.ico">
    <script src="/JS/APlayer.min.js"></script>
    <style>
        mark {background-color:#FF0000; font-weight:bold;}
        .demo {width:360px;margin:60px auto 10px auto}
        .demo p{padding:10px 0}
    </style>
    <script th:inline="javascript">
        function load(){

            var music = [[${music}]];
            alert(music);

            if(music.indexOf("code") != -1){
                var obj = JSON.parse(music);

                if(obj.code == 200){

                    var first_song = obj.data[0];

                    document.getElementById("lrc").innerHTML = first_song.lrc;

                    var ap = new APlayer({
                            element: document.getElementById('player1'),
                            narrow: false,
                            autoplay: true,
                            showlrc: true,
                            music: {
                                    title: first_song.title,
                                    author: first_song.author,
                                    url: first_song.url,
                                    pic: first_song.pic
                                    }
                        });
                    ap.init();
                }

                else{
                    alert("Get song information failed!");
                }
            }
            else{
                alert("Get song information failed!");
            }

        }
    </script>
</head>
<body onload="load()">

<div class="demo">

    <h4>Have Fun with Music</h4>

    <div id="player1">
            <pre class="aplayer-lrc-content" id="lrc">

            </pre>
    </div>

    <br>
    <button class="btn btn-success" id="download">DOWNLOAD</button>
    <a href="/index"><button class="btn btn-primary" id="return">RETURN</button></a>
    <button class="btn btn-danger" id="history">HISTORY</button>

</div>


</body>